<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Sobre mi</h2>
<div class="summary">
    <p>Programador Java, profesionalmente desde el año 2007. Concluí mis estudio como Ing. en Sistemas Computacionales en el Instituto Tecnológico de Toluca, con una especialidad en Base de Datos.</p>
    <p>Me considero una persona pragmática, que le gusta estar en constante aprendizaje. En mi nuevo rol como líder técnico trato de ser ese líder que me hubiera gustado tener, orientando y apoyando a mis colaboradores.</p>
</div><!--//summary-->
</section><!--//section-->
