<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiencia profesional</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Líder Técnico</h3>
                            <div class="time">2016 - Presente</div>
                        </div><!--//upper-row-->
                        <div class="company">TSYS México, Toluca Edo. de México, México.</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Tecnologias aplicadas: Git, Apache JMeter, Selenium, SonarQube, Jenkins, y Acunetix</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Programador - Java Sr (especialista CFDI v3.2)</h3>
                            <div class="time">2013 - 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">TSYS México, Toluca Edo. de México, México.</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Tecnologias aplicadas: Java 6, Java7, Spring Framework, Spring-Boot, Spring-Data JPA, Spring-Security, Spring-MVC, Web Services, SOAP/REST, Angularjs, Angular Material, Akka, Oracle SQL</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Programador - Java Sr</h3>
                            <div class="time">2011 - 2013</div>
                        </div><!--//upper-row-->
                        <div class="company">AdeA México, Toluca Edo. de México, México.</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Tecnologias aplicadas: Java 5, Spring Framework, JSF2, Primefaces,  Hibernate, Oracle SQL</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Programador - Java Jr</h3>
                            <div class="time">2009 - 2010</div>
                        </div><!--//upper-row-->
                        <div class="company">DSI Software, Toluca Edo. de México, México.</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Tecnologias aplicadas: Java 4 y MySQL SQL</p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
