<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiencia profesional</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Jefe de área</h3>
                <div class="time">2016 - 2019</div>
            </div>
            <div class="company">TSYS México, Toluca Edo. de México, México.</div>
        </div>
        <div class="details">
            <ul style="list-style-type:square;">
                <li>Análisis de requerimientos.</li>
                <li>Diseño y arquitectura de las soluciones.</li>
                <li>Asignación y supervisión de tareas a un equipo de desarrollo.</li>
                <li>Desarrollo del sistema 'Hermes' distribución de sms y e-mail mediante un pool de proveedores y
                    SMTP.</li>
                <li>Desarrollo del sistema 'E-PIN' entrega de NIPs mediante canales seguros (doble autenticación)</li>
                <li>Tecnologías aplicadas:
                    <ul>
                        <li>GIT</li>
                        <li>Apache JMeter</li>
                        <li>Selenium</li>
                        <li>Acunetix</li>
                        <li>JUnit</li>
                        <li>SonarQube</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Programador - Java Senior (especialista CFDI v3.2)</h3>
                <div class="time">2013 - 2016</div>
            </div>
            <div class="company">TSYS México, Toluca Edo. de México, México.</div>
        </div>
        <div class="details">
            <ul style="list-style-type:square;">
                <li>Desarrollo del motor de timbrado para CFDI versión 3.2, generación de timbres mediante HSM,
                    validación
                    de XMLs, entrega al SAT mediante servicios SOAP.</li>
                <li>Desarrollo del sistema 'Digital Data Delivery' recepción y resguardos de recursos digitales (EDC,
                    BD,
                    PDF, XMLs, etc), disposición de los mismos mediante servicios REST.</li>
                <li>Tecnologías aplicadas:
                    <ul>
                        <li>Java</li>
                        <li>Spring Framework (MVC, Security, DataJPA)</li>
                        <li>Servicios REST</li>
                        <li>HTML5</li>
                        <li>AngularJS</li>
                        <li>Angular Material</li>
                        <li>Subversión</li>
                        <li>Apache Maven</li>
                        <li>Akka</li>
                        <li>Oracle SQL</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Programador - Java Junior</h3>
                <div class="time">2011 - 2013</div>
            </div>
            <div class="company">AdeA México, Toluca Edo. de México, México.</div>
        </div>
        <div class="details">
            <ul style="list-style-type:square;">
                <li>Desarrollo del sistema 'Gestión Documental' para Vitamedica</li>
                <li>Desarrollo del sistema 'Expediente Único'</li>                
                <li>Tecnologías aplicadas:
                    <ul>
                        <li>Java</li>
                        <li>JSF</li>
                        <li>Primefaces</li>
                        <li>Spring Framework</li>
                        <li>Hibernate</li>
                        <li>Oracle SQL</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Programador - Java Junior</h3>
                <div class="time">2009 - 2010</div>
            </div>
            <div class="company">DSI Software, Toluca Edo. de México, México.</div>
        </div>
        <div class="details">
            <ul style="list-style-type:square;">
                <li>Desarrollo del Sistema Integral para Escuelas Normales del Estado de México.</li>
                <li>Desarrollo del Sistema de gestión para Verificentros del Estado de México.</li>
                <li>Tecnologías aplicadas:
                    <ul>
                        <li>Java</li>
                        <li>JSP</li>
                        <li>Servlets</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li>MySQL</li>
                    </ul>
                </li>
            </ul>           
        </div>
    </div>

</section>