<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Proyectos</h2>
                <div class="intro">
                    <p></p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/jviera/garrobo">Garrobo Project</a></span> - <span class="project-tagline">Aplicación de gestión de servicios e inventario, con cliente WEB y mobile.</span>
                </div><!--//item-->
</section><!--//section-->
