<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Proyectos</h2>
    <div class="intro">
        <p></p>
    </div>
    <div class="item">
        <span class="project-title"><a href="https://jviera.github.io">Blog</a></span> - <span class="project-tagline">Blog donde escribo sobre temas relacionados al desarrollo de Software.</span>
        <span class="project-title"><a href="https://github.com/jviera/garrobo-security">Garrobo Security</a></span> - <span class="project-tagline">Esquema de segurida para gestionar usuarios, roles y privilegios.</span>
    </div>
</section>